<!-- edit.html.erb -->

<div style="height: 20px"></div>


<h6>salut ça va ?</h6>


<% current_user.meetings.each do |meeting| %>
  <%= link_to meeting_path(meeting, current_user), style: 'text-decoration:none' do %>
    <%= render "/layouts/shared/panel", meeting: meeting %>
  <% end %>
  <div class="index_rdv">
    <div class="btn-center">
  <%= simple_form_for [meeting] do |f| %>
      <%= f.button :submit, "Accepter cette rencontre", class: "btn btn-light btn-lg "%>
      <%= f.button :submit, "Refuser cette rencontre", class: "btn btn-light btn-lg "%>
      <%= f.button :submit, "Annuler cette rencontre", class: "btn btn-light btn-lg "%>
    <% end %>
    </div>
<% end %>

</div>
