<div class="card">
  <div class="image" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url( <%= offer.user.avatar_url %> )">
    <i class="far fa-heart"></i>
    <h2> <%= link_to name, offer_path(offer), style: 'color:white' %> </h2>
    <p><i class="fas fa-map-marker-alt"></i> <%= city %> </p>
  </div>
  <div class="text">
    <h3> <%= link_to title, offer_path(offer) %></h3>
    <div class="taglist">
      <% tags.each do |tag| %>
        <div class="tag"> <%= tag.name %> </div>
      <% end %>

    </div>
  </div>
    <div class="rating"> <i class="far fa-star"></i></div>
</div>
