<div class="wrapper-header">
  <h5> <%= link_to "< Retour aux résultats", offers_path %> </h5>
</div>

<div class="wrapper">
  <img class="avatar-large-bordered" src="<%= @offer.user.avatar_url %>" alt="user avatar">
  <div class="wrapper-profile-content">
    <h2> <%= @offer.user.first_name %> <i class="far fa-heart"></i> </h2>
    <p> <i class="fas fa-map-marker-alt"></i> Localisé(e) à <%= @offer.user.city %> </p>
    <h4> <em> "<%= @offer.title %>"</em> </h4>
    <div class="taglist">
      <% @offer.user.tags.each do |tag| %>
        <div class="tag"> <%= tag.name %> </div>
      <% end %>
    </div>
  </div>
</div>


<div class="wrapper-offers-detail ">

  <div class="card-description">
    <h2>Ma description</h2>
    <hr/>
    <p> <%= @offer.user.description %> </p>
  </div>


    <div class="card-dispo">
      <h2>Ma dispo</h2>
      <hr/>
      <p> <%= @offer.availabilities %> </p>
    </div>

</div>



<div class="form-meeting">
   <div class="card-form">
      <h2 class="text-center">Ecris un message à ton futur poto 🎉</h2>
        <div class="input-info text-center">
          <%= simple_form_for [@offer, @meeting] do |f| %>
          <%= f.input :date, label: "Propose ta date :" %>
          </div>
          <div class="input-content text-center">
          <%= f.input :content, label: "Programme une activité avec ton poto :" %>
        </div>
          <div class="input-info text-center">
         <%= f.button :submit, "Envoyez", class:"btn btn-flat w-90" %>
         <% end %>
        </div>
    </div>
</div>
<div style="height: 20px"></div>
