<div class="wrapper-header">
  <h5> <%= link_to "< Retour aux résultats", offers_path %> </h5>
</div>

<div class="wrapper">
  <img class="avatar-large-bordered" src="<%= @offer.user.avatar_url %>" alt="user avatar">
  <div class="wrapper-profile-content">
    <h2> <%= @offer.user.first_name %> <i class="far fa-heart"></i> </h2>
    <p> <i class="fas fa-map-marker-alt"></i> Localisé(e) à <%= @offer.user.city %> </p>
    <h4> <em> "<%= @offer.title %>"</em> </h4>
    <div class="taglist">
      <% @offer.user.tags.each do |tag| %>
        <div class="tag"> <%= tag.name %> </div>
      <% end %>
    </div>
  </div>
</div>


<div class="wrapper-offers-detail ">

  <div class="card-description">
    <h2>Ma description</h2>
    <hr/>
    <p> <%= @offer.user.description %> </p>
  </div>


    <div class="card-dispo">
      <h2>Ma dispo</h2>
      <hr/>
      <p> <%= @offer.availabilities %> </p>
    </div>

</div>

<div class="wrapper-offers-detail ">

<div class="card-description">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h2 class="text-center mb-5">Ecris un message à ton futur poto</h2>
        <div class="form-row">
          <div class="col-6 col-lg-9 col-md-8">
            <%= simple_form_for [@offer, @meeting] do |f| %>
             <%= f.input :date, label: "La date :" %>
          </div>
          <div class="col-6 col-md-12">
            <%= f.input :content, label: "Passe le bonjour à ton poto : " %>
          </div>
        </div>
         <%= f.button :submit, "Envoyez", class:"btn btn-flat w-100" %>
         <% end %>
    </div>
  </div>
</div>

</div>

<!-- <div class=btn-container>
<a class="btn btn-flat" href="#">Envoyer un message</a>
</div> -->
